.idea/*
!.idea/codeStyleSettings.xml
**/*.iml
*.ipr
*.iws
.settings
.classpath
.project
project.properties
build
gen
bin
local.properties
.gradle
test_servers
screenshot_*.png
com_crashlytics_*.xml
crashlytics.properties

# fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots
fastlane/test_output

.babelish.token
